/*Page Structure*/

html {
	min-height: 100%;
	position: relative;
}

body {
	padding-bottom: 140px;
}

.container {
	width: 75%;
}

.container.secondary {
	background-color: #404040;
	padding: 4px 25px;
	width: 100%;
}

div.userProfile {
	padding: 30px 0;
}

footer {
	background-color: #a28e09;
	border-top: 3px solid #333132;
	padding: 30px 0;
	position: absolute;
	bottom: 0;
	height: 130px;
	width: 100%;
}

/*Images*/
.noVote {
	opacity: .5;
}

.vote {
	opacity: 1;
}

.postImage {
	object-fit: cover;
	width: 100px;
	height: 100px;
	margin-top: 24px;
	vertical-align: middle;
}

.postImageLarge {
	object-fit: cover;
	width: 100%;
	max-height: 300px;
	margin-top: -20px;
	margin-bottom: 20px;
}

/*Navbar*/
#navbar-brand {
	width: 125px;
	padding-top: 0;
	margin-top: 0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:active, .navbar-default .navbar-nav .open .dropdown-menu > li > a, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:active, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #333132;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:active, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, nav.navbar.navbar-default a, nav.navbar.navbar-default a:visited {
	color: #dfdfdf;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
	color: #a28e09;
}

nav.navbar.navbar-default a:hover {
	color: #a28e09;
}

a.navbar-brand {
	padding-top: 12px;
}

ul.nav.navbar-nav.navbar-right a.welcomeLoggedInUser.dropdown-toggle {
	text-decoration: none;
}

.dropdown-menu {
	background-color: #333132;
	padding: 15px 0;
	border: 2px solid #a28e09;
	border-top: none;
	border-radius: 0;
}

.dropdown-menu > li > a {
	background-color: #333132;
}

.navbar {
	background-color: #333132;
	border-bottom: 3px solid #a28e09;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	border-radius: 0;
}

.navbar-form {
	display: inline-block;
	margin-top: 10px;
}

span.loggedInUser {
	font-weight: bold;
}

input.search {
	background-color: #333132;
	border-color: #444;
	color: #dfdfdf;
	height: 30px;
	font-size: .85em;
}

button.search {
	background-color: #a28e09;
	border-color: #444;
	height: 30px;
	width: 10px;
}

.glyphicon-search {
	top: 0px;
	right: 7px;
}

/*Buttons*/
.btn.btn-primary, .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
	background-color: #0955a2;
	border-color: #033e7c;
	text-transform: uppercase;
	font-size: .85em;
	padding-top: 8px;
}

.btn.btn-danger, .btn.btn-danger:hover, .btn.btn-danger:focus, .btn.btn-danger:active {
	background-color: #a23109;
	border-color: #711e0b;
	text-transform: uppercase;
	font-size: .85em;
	padding-top: 8px;
}

.btn.btn-warning, .btn.btn-warning:hover, .btn.btn-warning:focus, .btn.btn-warning:active {
	background-color: #a28e09;
	border-color: #837627;
	text-transform: uppercase;
	font-size: .85em;
	padding-top: 8px;
}


/*Text*/

body {
	font-family: 'Proza Libre', sans-serif;
	color: #333132;
}

a, a:hover {
	text-decoration: none;
}

a, a:visited {
	color: #a28e09;
}

a:hover, a:active {
	color: #d9be0a;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', serif;
}

h1 {
	font-size: 1.85em;
	margin-bottom: 30px;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.65em;
}

h4 {
	font-size: 1.55em;
}

p.voteCount {
	margin: 10px 0;
}

p.postStats, p.postScore {
	font-size: .65em;
	color: #6d6d6d;
}

p.postScore {
	margin-top: 5px;
	text-align: center;
}

p#finePrint {
	color: #333132;
	font-size: .65em;
}

.empty {
	margin-top: 20px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background-color: #a28e09;
	border: 1px solid #a28e09;
}

.pagination > li > a, .pagination > li > a:hover {
	color: #a28e09;
}